# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [126]:
nums = list(range(1,5))
print(nums)
type(nums)

[1, 2, 3, 4]

list

** `Question:` Remove number "3" in a list**

In [123]:
# Method 1 
nums.remove(3)
print(nums)

[1, 2, 4]

In [124]:
# Method 2
nums.pop(2)
print(nums)

[1, 2]

In [127]:
# Method 3
del nums[2]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [128]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [129]:
lst.insert(2,"1/2")
lst

[1, 2, '1/2', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [130]:
# CODE HERE
phrase = "Don't panic!"
listpharse = list(phrase)
listpharse

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [131]:
listpharse.remove("'")
listpharse

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [132]:
# CODE HERE
for i in  ["p" , "a", "n","D"]:
    listpharse.remove(i)
print(listpharse)
for i in  ["p" , "a", "n","D"]:
  listpharse.append(i)
print(listpharse)

['o', 't', ' ', 'n', 'i', 'c', '!']
['o', 't', ' ', 'n', 'i', 'c', '!', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [133]:
# CODE HERE
list1 = ['p', 'a', 'n', 'D', 'a']
print("".join(list1))

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [134]:
tuple1 = (31,24,35,85)
type(tuple1)
print(tuple1)

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:
# CODE HERE
tupl2 = list(tuple1)
tupl2.remove(35)
print(tupl2)
tuple1 = tuple(tupl2)
tuple1

**Extent** tuple (85,19)

In [ ]:
# CODE HERE
tupl2.append(19)
tuple1 = tuple(tupl2)
tuple1

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE
tpl = ('i','n','n','0')
if i in tpl:
    print(True)

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [ ]:
# CODE HERE
list1 = ['Hello',100,[],'innomatics']

In [ ]:
list1[2] = 200
list1

**`Question:` Write a Python program to reverse a tuple.**

In [ ]:
# CODE HERE
tpl = ("Innomatics")
tpl[::-1]

In [ ]:
tpl = (1,2,3)+(4,)
tpl

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [ ]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl1 = []
for i in tpl:
    x = list(i)
    x.append(100)
    print(x)
    y = tuple(x)
    print(y)
    tpl1.append(y)
print(tpl1)

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl1 = []
for i in tpl:
    x = list(i)
    x[(len(x)-1)] = 100
    print(x)
    y = tuple(x)
    print(y)
    tpl1.append(y)
print(tpl1)

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [ ]:
num = input().split()
print(type(num))
print(num)

for i in num:
    try:
        int(i)
    except ValueError:
        print(f"Invalid input: {i}")

In [ ]:
# CODE HERE
num = input().split()
print(type(num))
print(num)
Hnum = num[0]
for x in range(len(num)):
       if  num[x] > Hnum:
          Hnum = num[x]
          print("Hnum:",Hnum)

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [139]:
lst = [12,24,35,70,88,120,155]

In [140]:
# CODE HERE
result = [ lst[i]  for i in range(len(numbers)) if i not in [0,4,5] ]
print(result)

[24, 35, 70]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [141]:
tuple= (1,2,3,4,5,6,7,8,9,10)
print(len(tuple))
print(tuple[0:5])
print(tuple[5:10])

10
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [142]:
tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
x = [i for i in tuple if i % 2 == 0]
print(x)

[2, 4, 6, 8, 10]

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution
#### List: Lists are mutable, can change, add, or remove elements after the list is created.
- Defined with square brackets [].
- Lists are slower than tuples when it comes to iteration, as lists are mutable and require extra operations to manage changes.
- Lists have more built-in methods such as .append(), .remove(), .extend(), etc.
#### Tuple: Tuples are immutable, once they are created, their values cannot be changed.
- Defined with parentheses ().
-  Tuples are faster due to their immutability and smaller memory footprint.
-   Tuples have limited methods, mainly .count() and .index().

### 2. Explain the difference between append() and extend() with examples

# Solution
#### append():
- Adds one element at a time.
- Can add any object (including lists) as a single element.
#### extend():
- Unpacks and adds each element from an iterable to the list.
- Useful for combining lists or adding multiple elements at once.

### 3. Explain the difference between pop() and remove() with examples

# Solution
#### pop():

- Removes an element by its index.
- Returns the removed element.
- Can remove an element from any position or the last element if no index is specified.
####  remove():

- Removes an element by its value.
- Does not return the removed element.
- Removes only the first occurrence of the specified value.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)