# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [6]:
# CODE HERE
person1 = {'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [7]:
# CODE HERE
person1.keys()

dict_keys(['Gender', 'Location', 'Name', 'Occupation'])

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [8]:
# CODE HERE
person1.pop('Location')
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [10]:
# CODE HERE
person2 = {'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [18]:
# CODE HERE
print("======================person1======================")
print(person1)
print("======================person2======================")
print(person2)

======================person1======================
{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}
======================person2======================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [25]:
# CODE HERE
s = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
s.pop(2)
s
#method2
s.popitem()
#method3
del s[4]
s

{1: 1, 3: 9, 5: 25, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [23]:
# CODE HERE
s = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
##method1
result = sorted(s.items())
print(result)
s=dict(result)
s
##method2
keys=s.keys()
keys=sorted(keys)
keys
s = {key: s[key] for key in keys}
print(s)

[(0, 0), (1, 1), (3, 9), (5, 25), (7, 49), (9, 81)]
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [37]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [30]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1'= {'name': 'Jhony', 'salary': 7500},
    'emp2'= {'name': 'Ravi', 'salary': 8000},
    'emp3'= {'name': 'Charan', 'salary': 6500}
}

In [62]:
# CODE HERE
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 6500}}
ep3=sample_dict['emp3']
ep3.update({'salary': 8500})
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [69]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [78]:
# CODE HERE
s={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
s1 = {
    'Gender': 'Male',
    'Area': s['Location'],  # Rename 'Location' to 'Area'
    'Name': 'John',
    'Occupation': 'Data Scientist'}
s1

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [115]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username = input()
password = int(input())
if password in database.values():
    print("hello")
print(database.values())
for i in database:
    if i == username:
        print(i)
        pwd = database[i]
        print(pwd,password)
        if password == pwd:
         print("Hello",username)
    else:
       print("Wanted to add  to the base data ",username)
       database.update({username:password})
       print(database)
       break

 sam
 890

dict_values([1234, 5678, 1357])
Wanted to add  to the base data  sam
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'sam': 890}