# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
print("My name is Innomatics")

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [ ]:
A variable is used to store the value. A variable can start with a letter or an underscore.Variable name should start with letter(a-zA-Z).In variable name, no special characters allowed other than underscore (_).

In [4]:
_age = 18
age_ = 19
Age = 20
print(_age)
print(age_)
print(Age)

18
19
20

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [5]:
width = 17
height = 12.0
delimiter = '.'
print(width/2)
print(width/2.0)
print(height/3)
print(1 + 2 * 5)
print(delimiter * 5)

8.5
8.5
4.0
11
.....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [8]:
#CODE HERE
first = int(input("Enter first number: "))
second = int(input("Enter second number: "))
print("Addition of two numbers are : " ,first + second)

Enter first number: 100
Enter second number: 200
Addition of two numbers are :  300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [ ]:
# CODE HERE

In [9]:
firstname = input("My first name is : ")
secondname = input("My second name is : ")
print("My full name is : ", firstname + secondname)

My first name is : sachin
My second name is : Tendulkar
My full name is :  sachinTendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [10]:
# CODE HERE
print(type(10))
print(type('10'))
print(type(True))
print(type(10.5))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:`
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [12]:
# CODE HERE
num_int = 123
num_str = "456"
print(num_int + int(num_str))

579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [15]:
# CODE HERE
r = 5
volume = (4/3)*(3.14)*(r**3)
print("the volume of a sphere with radius 5: ",volume)

the volume of a sphere with radius 5:  523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE
priceofbook = 24.95
discount = 0.4
shipping = 3

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)